<launch>
  <arg name="world_name" default="$(find mars_simulation)/worlds/mars.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find jackal_description)/urdf/jackal.urdf.xacro" />

  <node name="spawn_jackal" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -param robot_description -model jackal -x 0 -y 0 -z 3" />
</launch>