<launch>
    <arg name="mars" default="$(find mars_simulation)/worlds/mars.world"/>

    <!-- 启动Gazebo世界 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg mars)"/>
    </include>

    <!-- 加载机器人描述 -->
    <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="joystick" value="false" />
        <arg name="config" value="base" />
    </include>
    
    <!-- 键盘控制节点 -->
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" 
            output="screen" launch-prefix="xterm -e">
        <remap from="cmd_vel" to="/jackal_velocity_controller/cmd_vel"/>
    </node>

</launch>